<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SVG | Loader</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<svg width="51px" height="50px" viewBox=" 0 0 51 50">
		<rect y="0" width="13" height="50" fill="#1fa2ff">
			<animate attributeName="height" values="50;10;50" begin="0s" dur="1s" repeatCount="indefinite" />
			<animate attributeName="y" values="0;20;0" begin="0s" dur="1s" repeatCount="indefinite" />
		</rect>
		<rect x="19" y="0" width="13" height="50" fill="#12d8fa">
			<animate attributeName="height" values="50;10;50" begin="0.2s" dur="1s" repeatCount="indefinite" />
			<animate attributeName="y" values="0;20;0" begin="0.2s" dur="1s" repeatCount="indefinite" />
		</rect>
		<rect x="38" y="0" width="13" height="50" fill="#06ffcb">
			<animate attributeName="height" values="50;10;50" begin="0.4s" dur="1s" repeatCount="indefinite" />
			<animate attributeName="y" values="0;20;0" begin="0.4s" dur="1s" repeatCount="indefinite" />
		</rect>
	</svg>
</body>
</html>
