<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>SVG | Loader</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
	<svg width="500" height="500px" viewBox="0 0 500 500">
		<rect x="250" y ="50" width="50" height="50" fill="#ffa200">
			<animateTransform attibuteName="transform" type ="rotate" begin="0s" dur="10s" from ="0 200 200" to="360 200 200"  repeatCount="indefinite" />
			<animateTransform attributeName="transform"/ >
		</rect>
	</svg>
</body>
</html>